@mixin vertically-centered() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin horizontally-right() {
    position: absolute;
    right: 0;
}
@mixin horizontally-centered() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin vertically-horizontally-centered() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
:local(.vertically-centered),
%vertically-centered {
    @include vertically-centered();
}
:local(.horizontally-right),
%horizontally-right {
    @include horizontally-right();
}
:local(.horizontally-centered),
%horizontally-centered {
    @include horizontally-centered();
}
:local(.vertically-horizontally-centered),
%vertically-horizontally-centered {
    @include vertically-horizontally-centered();
}
